# Configurações da API
# Como o Nuxt está com SSR desabilitado, as requisições são feitas do navegador
# Portanto, use localhost:3001 (o backend expõe a porta 3001 no host)
NUXT_PUBLIC_API_BASE_URL=http://0.0.0.0:3001/api/v1

# Chave da API do Google Maps
NUXT_PUBLIC_GOOGLE_MAPS_API_KEY=sua-chave-aqui
